// primary
$purple_1: #691774;
$purple_2: #3C0F42;

// secondary
$orange_1: #ECA248;
$purple_3: #FBE0FE;
$yellow: rgba(255, 210, 51, 0.3);
$purple_4: #A27FFF;
$green: #1EBCB4;
$blue: #1E5DBC;

// gradient
$linear: linear-gradient(180deg, #D34745 0%, #FF6F6D 100%);
$orange_purple: linear-gradient(269.32deg, #932BA1 32.91%, #ECA248 89.45%);
$yellow_2: linear-gradient(180deg, #F8D661 0%, #FFFDD6 100%);

// Neutrals
$pure-black: #000000;
$pure-white: #FFFFFF;
$light-gray: #FAFAFA;
$gray: #C8CDD1;
$dark-gray: #737373;