@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); // google fonts

// 👉👉👉 or... 👇👇👇

/* @font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/outfit-regular.ttf');
} */